{% extends 'base.html.twig' %}
{% import _self as macro %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/sb-admin.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/morris.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" />
    </head>
    <body>

    <div id="wrapper">

        {% macro quotelineCollection(form) %}
            <div class="row">
                <div class="form-group ligne">
                    {% if form.name is defined %}
                        <div class="form-group col-md-3">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name,{'attr':{'class':'form-row'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                    {% endif %}
                    {% if form.unitprice is defined %}
                        <div class="form-group col-md-3">
                            {{ form_label(form.unitprice) }}
                            {{ form_widget(form.unitprice,{'attr':{'class':'form-row price'}}) }}
                            {{ form_errors(form.unitprice) }}
                        </div>
                    {% endif %}
                    {% if form.quantity is defined %}
                        <div class="form-group col-md-3">
                            {{ form_label(form.quantity) }}
                            {{ form_widget(form.quantity,{'attr':{'class':'form-row quantity'}}) }}
                            {{ form_errors(form.quantity) }}
                        </div>
                    {% endif %}
                    <div class="form-group col-md-3">
                        {{ form_label(form.totalht) }}
                        {{ form_widget(form.totalht,{'attr':{'class':'form-row sum'}}) }}
                        {{ form_errors(form.totalht) }}
                    </div>
                </div>
            </div>
        {% endmacro %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            {% include '@App/header.html.twig' %}
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{{ path("admin") }}"><i class="fa fa-fw fa-dashboard"></i> Tableau de bord</a>
                    </li>
                    <li>
                        <a href="{{ path("chart") }}"><i class="fa fa-fw fa-bar-chart-o"></i> Statistique</a>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#client"><i class="fa fa-fw fa-table"></i> Client <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="client" class="collapse">
                            <li>
                                <a href="{{ path("customercreate") }}"><i class="fa fa-plus-square"></i> Créer client</a>
                            </li>
                            <li>
                                <a href="{{ path("customerlist") }}"><i class="fa fa-list"></i> Liste des clients</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#devis"><i class="fa fa-fw fa-table"></i> Devis <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="devis" class="collapse">
                            <li class="active">
                                <a href="{{ path("quotecreate") }}"><i class="fa fa-plus-square"></i> Créer devis</a>
                            </li>
                            <li>
                                <a href="{{ path("quotelist") }}"><i class="fa fa-list"></i> Liste des devis</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#invoice"><i class="fa fa-fw fa-edit"></i> Factures <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="invoice" class="collapse">
                            <li>
                                <a href="{{ path("invoicecreate") }}"><i class="fa fa-plus-square"></i> Créer facture</a>
                            </li>
                            <li>
                                <a href="{{ path("invoicelist") }}"><i class="fa fa-list"></i> Liste des factures</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Modification d'un devis
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.number) }}
                            {{ form_widget(form.number) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.totalpriceHT) }}
                            {{ form_widget(form.totalpriceHT) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.totalpriceTTC) }}
                            {{ form_widget(form.totalpriceTTC) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.customerId) }}
                            {{ form_widget(form.customerId) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.vatId) }}
                            {{ form_widget(form.vatId) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.createDate) }}
                            {{ form_widget(form.createDate) }}
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12"> Ligne(s) du devis</div>
                        </div>
                        <div class="quoteline" data-prototype="{{ macro.quotelineCollection(form.quoteline.vars.prototype)|e }}">
                            {% for form in form.quoteline %}
                                {{ macro.quotelineCollection(form) }}
                            {% endfor %}
                        </div>
                        <br>
                        <div class="form-group">
                            {{ form_label(form.save) }}
                            {{ form_widget(form.save) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

    </div>

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        var totalprice = 0;
        var totalHT = $('#appbundle_quote_totalpriceHT');
        var tva = $("#appbundle_quote_vatId").find(":selected").text().replace("%","");
        var totalTTC = $('#appbundle_quote_totalpriceTTC');
        function calculPrice() {


            $('.ligne').each(function () {
                var quantity, price, sum = 0;

                price = $(this).children().children('.price').val();
                quantity = $(this).children().children('.quantity').val();

                if (!isNaN(price) && !isNaN(quantity)) {
                    sum += price * quantity;
                }

                $(this).children().children('input.sum').val(sum);

            })

            totalprice = 0;
        }

        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<br><button type="button" class="add_quoteline_link btn btn-success">Ajouter une ligne</button>');
        var $newLinkLi = $('<div></div>').append($addTagLink);

        jQuery(document).ready(function() {
            totalHT.prop('readonly', true);
            totalTTC.prop('readonly', true);
            $('#appbundle_quote_quoteline').hide();
            calculPrice();

            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.quoteline');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            })

        });

        $(document).on('input', '.quantity',  function() {
            calculPrice();
            sum();
            calculTTC();
        });

        $(document).on('input', '.price',  function() {
            calculPrice();
            sum();
            calculTTC();
        });

        $('select').on('change', function() {
            tva = $("#appbundle_quote_vatId").find(":selected").text().replace("%","");
            calculTTC();
        });

        function sum() {
            totalprice = 0;
            $('.sum').each(function(){
                totalprice += parseFloat(this.value);
            });

            totalHT.val(totalprice);
        }

        function calculTTC(){
            sum();
            totalTTC.val(totalprice+(totalprice * (tva/100)));
        }

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);


            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);

            // also add a remove button, just for this example
            $newFormLi.append('<button type="button" class="btn btn-danger remove-line">Supprimer</button>');

            $newLinkLi.before($newFormLi);

            $('.remove-line').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();
                totalHT.val(0);
                totalTTC.val(0);
                return false;
            });
        }


    </script>
    <!-- Morris Charts JavaScript -->
    <script src="{{ asset('assets/js/morris.min.js') }}"></script>
    <script src="{{ asset('assets/js/morris-data.js') }}"></script>
    <script src="{{ asset('assets/js/raphael.min.js') }}"></script>

    </body>

    </html>

{% endblock %}

